/* Sub Hero Section */

/* Sub Hero Section 1 */
/*.subhero-video{
    width: 450px;
    height: 600px;
 } */ 

 .subhero-section-1{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.2);
    padding: 50px 0;
 }
 .subhero-section-1 h3{
    font-weight: 600;
    font-size: 28px;
 }
 .subhero-section-1 p{
    box-shadow:  1px 1px 3px rgb(0, 0, 0, 0.1);
    width: 150px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
 }
 .subhero-section-1 article{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 30px;
 }
 .subhero-span-1{
    font-weight: 600;
    font-size: 17px;
    color: palevioletred;
 }
  .subhero-span-2{
    font-weight: 600;
    font-size: 17px;
    color: cadetblue;
 }
  .subhero-span-3{
    font-weight: 600;
    font-size: 17px;
    color: green;
 }
  .subhero-span-4{
    font-weight: 600;
    font-size: 17px;
    color: goldenrod;
 }

 /* Sub Hero section 2 */

 .subhero-section-2{
   background-color: rgb(230, 241, 241);
   box-shadow: 1px 3px 4px rgb(0, 0, 0, 0.1);
 }
 .subhero-section-2 div{
    text-align: center;
    margin-bottom: 20px
}
.subhero-section-2 h2{
   font-weight: 600;
}
.subhero-section-2 section{
   display: flex;
   gap: 35px;
   padding: 40px 160px ;
}
.subhero-section-2 section article{
   font-size: 12px;
   position: relative;
   box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 30px 20px;
   background-color: white;
}
.subhero-name{
   background-color: #007bff;
   width: fit-content;
   padding: 10px 18px 10px 7px; /*Top Right Bottom Left*/
   border-radius: 5px;
   position: absolute;
   top: -40px;
   text-align: end;
   color: white;
   font-weight: 600;
   line-height: 20px;
   left: 30px;
}
.initials-1{
   background-color: rgb(149, 109, 188);
   position: absolute;
   color: white;
   padding: 20px;
   border-radius: 50%;
   font-weight: bold;
   right: 15px;
   top: -35px;  
}
.initials-2{
   background-color: rgb(238, 121, 53);
   position: absolute;
   color: white;
   padding: 20px;
   border-radius: 50%;
   font-weight: bold;
   right: 15px;
   top: -35px;
}

.subhero-section-3{
   padding: 60px 35px;
}
.subhero-section-3 h2{
   font-weight: 600;
}
.subhero-section-3 button{
   border: none;
   background-color: #007bff;
   border-radius: 20px;
   width: 100px;
   height: 30px;
   color: #fff;
   font-weight: 500;
   cursor: pointer;
}